.bar {
  fill: orangered;
}

.label {
	font: 30px sans-serif;
	fill:  black;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#hashtag{
    position:absolute;
    top:80%;
    left:50%;
    font-family: 'Franklin Gothic';
    font-weight: bold;
    font-size:40px;
    color:black
}
#tweetAddress{
    position:absolute;
    top:85%;
    left:50%;
}