/* Page-specific styling */

.chartButton{
    position:absolute;
    top:45%;
    border-style:solid;
    border-color:#d24726;
    border-radius:5px;
    width: 7%;
    height:10%;
}

h1{
    background-repeat: no-repeat;
    background-position: top;
    margin:0px;
}

#input{
    position: relative;
    left: 25%;
}

#key{
    position: absolute;
    left: 3%;
    top: 30%;
    font-family:Verdana;
    font-size:13px;
}

#duration{
    position: absolute;
    left: 3%;
    top: 35%;
    font-family:Verdana;
    font-size:13px;
}

#keywords{
    position: absolute;
    left: 50%;
    top: 29%;
    font-family:Verdana;
    font-size:13px;
}

#timer{
    position: absolute;
    left: 50%;
    top: 70%;
}

#addKeyword{
    position: absolute;
    left: 77%;
    top: 29%;
}

#removeKeyword{
    position: absolute;
    left: 81%;
    top: 29%;
}

input[type="button"]{
    position: absolute;
    color: #ffffff;
	background-color: #d24726;
    height: 4%;
    width: 3%;
}

input[type="button"]:hover{
    background-color: #00ff90;
    color:black;
}
