/* Page-specific styling */

h1{
    background-repeat: no-repeat;
    background-position: top;
    margin:0px;
}

#input{
    position: relative;
    left: 25%;
}

#key{
    position: absolute;
    left: 30px;
    top: 30%;
}

#duration{
    position: absolute;
    left: 30px;
    top: 35%;
}

#keywords{
    position: absolute;
    left: 30%;
    top: 50%;
}

#timer{
    position: absolute;
    left: 50%;
    top: 70%;
}

#addKeyword{
    position: absolute;
    width: 15%;
    top: 90%;
}

#removeKeyword{
    position: absolute;
    width: 15%;
    top: 80%;
}

input[type="button"]{
    position: absolute;
    color: #ffffff;
	background-color: #d24726;
    height: 10%;
}

input[type="button"]:hover{
    background-color: #00ff90;
}
