body {
	font: sans-serif;
	position: relative;
}

svg{
	width: 100%;
	height: 75vh;
}

path.slice{
	stroke-width:2px;
	stroke: #fff;
}

#info{
    text-align: center;
    font-family: 'Franklin Gothic';
    font-size:40%;
    color: black;
}
